<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flight editor</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
<h1>Flights</h1>
<a href="/create"><button>Add a Flight</button></a>
<a href="/search"><button>Search</button></a>
<table class="table-responsive-md table-striped table"  >
    <tr>
        <!--<td>ID</td>-->
        <td>Name</td>
        <td>Number</td>
        <td>Scheduled Time</td>
        <td>Arrival Time</td>
        <td>Departure</td>
        <td>Destination</td>
        <td>Fare</td>
        <td>Duration</td>
        <td th:span="2">Actions</td>
    </tr>


    <tr th:each="flight:${flights}" th:insert="fragments::flightDisplay"></tr>

</table>
<div th:if ="${totalPages>1}">
    <div class="row">
        <div class="col-1">
            <span th:each="page: ${#numbers.sequence(1,totalPages)}">
                <a th:if="${currentPage!=page}" th:href="@{'/page/'+${page}}">[[${page}]]</a>
                <span th:unless="${currentPage!=page}">[[${page}]]</span> &nbsp;
            </span>
        </div>
        <div class="col-1">
            <a th:if="${currentPage>1}" th:href="@{'/page/'+${currentPage -1}}">Previous</a>
            <span th:unless="${currentPage>1}">Previous</span>
        </div>
        <div class="col-1">
            <a th:if="${currentPage<totalPages}" th:href="@{'/page/'+${ currentPage+1}}">Next</a>
            <span th:unless="${currentPage<totalPages}">Next</span>
        </div>
        <div class="col-1">
            <a th:if="${currentPage<totalPages}" th:href="@{'/page/'+${totalPages}}">Last</a>
            <span th:unless="${currentPage<totalPages}">Last</span>
        </div>

    </div>
</div>

</body>
</html>